.btn {
	font-family: 'Lato', sans-serif;
	display: block;
	height: 40px;
	padding: 2px 20px;
	text-align: center;
	text-decoration: none;
	width: 190px;
	font-size: 8px;
	line-height: 5.2em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	position: relative;
    color: #fff;
	border: 2px solid #fff;
	@mixin atMedium { 
		font-size: 10px;
		line-height: 2.7em;
		padding: 5px 30px;
	}
	
	&:before,
	&:after {
		width: 0%;
		height: 2px;
		position: absolute;
		background: #e5c100;
		transition: width .4s ease-in-out;
		content: " ";
	}

	&:before {
		left: 0;
		top: -2px;
	}

	&:after {
		bottom: -2px;
		right: 0;
	}

	&:hover {
		padding: 5px 25px 5px 35px;
		border-color: #e5c100;
        color: lighten(#e5c100, 50%);

		&:before,
		&:after {
			width: 100%;
		}
	}
}

.btn--black {
    color: #000;
	border: 2px solid #000;
	width: 150px;
	@mixin atMedium { 
		width: 250px;
	}
}

.btn--white {
	font-size: 10px;
	line-height: 4em;
	@mixin atMedium {
		line-height: 2.7em;
	}
	@mixin atXSmall { 
		padding: 2px 10px;
	}
}

.btn--white:hover { 
	@mixin atXSmall { 
		padding: 2px 10px 2px 10px;	
	}
}