.contact {
    padding-top: 50px;
    padding-bottom: 50px;

    &--content {
        text-align: center;
    }

    &--title {
        margin-bottom: 0px;
        @mixin atSmall {
            margin-bottom: 20px;
        }
    }
    &--title--two {
        margin-bottom: 0px !important;
        padding-top: 20px;
        @mixin atSmall {
            padding-top: 0px;
            position: relative;
            top: 15px;
        }

    }

    &--subtitle {
        font-size: 14px;
        padding-bottom: 20px;
        letter-spacing: 1px;
        font-weight: 100;
        line-height: 26px;
        @mixin atSmall {
            padding: 0 200px 20px 200px; 
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__col-one {
        @mixin atXSmall {
            display:flex;
        }
        @mixin atMedium {
            float:left;
        }
    }
    &__col-two {
        @mixin atXSmall {
            display:flex;
        }
    }
    &--col-one {
       display: flex;
       text-align:center;
       justify-content: center;
    }
    &--col-two{
        display: flex;
        text-align:center;
        justify-content: center;
     }
}

.team-container {
    @mixin atMedium {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact__col-one {
        @mixin atMedium {
         padding: 35px;
        }
    }
    .contact__col-two {
       
    }
}


.team-member {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    @mixin atMedium {
        width: 250px;
        height: 250px;   
    }
}
.img-responsive {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @mixin atMedium {
        width: 250px;
        height: 250px;   
    }
}

.desk__link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    @mixin atXSmall {
     font-size: 12px; 
    }
}

.desk__link:hover {
    text-decoration: underline;
}

.team-title {
    @mixin atSmall {
        text-align:center;
    }
    @mixin atXSmall { 
        display: flex;
        flex-direction:column;
        justify-content:center;
    }
    &--name {
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 6px;
        margin:0;

        @mixin atXSmall { 
            font-size: 16px; 
        }
    }

    &--mail {
        padding-bottom: 6px; 
        @mixin atXSmall { 
            margin:0;
        }
    }
    &--position {
        padding-bottom: 6px; 
        @mixin atXSmall { 
            margin:0;
        }
    }
    &--mail--link {
        color: black;
        text-decoration: none;
    }
}
.logo-conse {
    width: 110px;
    height: auto;
    position: relative;
    top: 17px;
    @mixin atXSmall { 
        width: 80px;
        top: 5px;
    }
}


