
  .img-box {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    @mixin atXSmall {
        height: 200px;
    }

  }
  .img-box h1 {
    color: #fff;
    display:flex;
    justify-content: center;
    position:relative;
    top: 30%;
    @mixin atXSmall {
        top: 40%; 
    }
  }

  .flats {
      padding-top: 70px;
  }

  .flats-tabel {
      display: flex;
      align-items: center;
      justify-content: center;

      &--title {
        font-weight: 600;
        margin: 0px;
        padding: 20px 0;
        text-align: center;
        background-color: rgba(60, 142, 207, 0.1);
        border: 1px solid #e9e9e9;
        color: #000;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--number {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--floor {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--room {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--yardage {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--card {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }

      &--status {
        border: 1px solid #e9e9e9;
        color: #000;
        margin:0;
        text-align: center;
        @mixin atXSmall {
            font-size: 5px;
        }
      }
    
      &__col-one {
         width: 15%; 
      }

      &__col-two {
        width: 15%; 
      }

      &__col-three {
        width: 15%;
      }

      &__col-four {
        width: 15%;
      }

      &__col-five {
        width: 15%;
      }
      &__col-six {
        width: 15%;

        a {
            text-decoration: none;
        }
      }
  }


