.gallery-section {  
    padding-top: 50px;
    padding-bottom: 50px;

    &--title {
      text-align: center;
    }

  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  body {
    overflow: hidden;
    background: #424242;
  }
  
  .over-visible {
    overflow: visible;
  }
  
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
  }
  
  .container {
    max-width: 1300px;
    padding: 20px 10px;
    margin: 0 auto;
  }
  
  .synch-carousels {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .synch-carousels > * {
    width: 100%;
  }
  
  .synch-carousels .right {
    order: -1;
  }

  .synch-carousels .right-two {
    order: -1;
  }
  
  .synch-carousels .left {
    overflow: hidden;
  }
  .synch-carousels .left-two {
    overflow: hidden;
  }
  
  .synch-carousels .gallery {
    display: none;
  }
  .synch-carousels .gallery_one {
    display: none;
  }
  .synch-carousels .slick-slide {
    outline: none;
  }
  
  .synch-carousels .slick-vertical .slick-slide {
    border: none;
  }
  
  .synch-carousels .gallery .slick-list {
    height: auto !important;
    margin: 0 -20px;
  }
  .synch-carousels .gallery_one .slick-list {
    height: auto !important;
    margin: 0 -20px;
  }
  
  .synch-carousels .gallery .slick-slide {
    cursor: pointer;
  }
    
  .synch-carousels .gallery_one .slick-slide {
    cursor: pointer;
  }
  
  .synch-carousels .gallery .slick-slide {
    margin: 0 20px;
  }
    
  .synch-carousels .gallery_one .slick-slide {
    margin: 0 20px;
  }
  
  .synch-carousels .nav-arrows {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .synch-carousels .nav-arrows svg {
    fill: black;
  }
  
  .synch-carousels .arrow-left {
    margin-right: 35px;
  }

  .synch-carousels .arrow-left-two {
    margin-right: 35px;
  }
  
  .synch-carousels .photos-counter {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 20px;
    color: white;
    background: #292929;
  }
  .synch-carousels .photos-counter-two {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 20px;
    color: white;
    background: #292929;
  }
  
  @media screen and (min-width: 480px) {
    .synch-carousels .right {
      margin-bottom: 20px;
    }
  
    .synch-carousels .gallery {
      display: block;
    }

    .synch-carousels .right {
        margin-bottom: 20px;
      }
    
      .synch-carousels .gallery_one {
        display: block;
      }
  }
  
  @media screen and (min-width: 1024px) {
    .synch-carousels .right {
      position: relative;
      width: calc(100% - 230px);
      margin-bottom: 0;
      order: 2;
    }
  
    .synch-carousels .left {
      width: 210px;
    }
    .synch-carousels .left-two {
        width: 210px;
      }
    
  
    .synch-carousels .gallery .slick-slide {
      margin: 0 0 20px 0;
    }
    .synch-carousels .gallery_one .slick-slide {
        margin: 0 0 20px 0;
      }
  
    .synch-carousels .gallery .slick-list {
      margin: 0;
    }
      
    .synch-carousels .gallery_one .slick-list {
        margin: 0;
      }
  }
  .button-container {
      display: flex;
      justify-content: center;

      .btn-place {
          cursor: pointer;
          @mixin atSmall { 
            padding : 20px;
          }
          .btn--black {
            @mixin atXSmall {
              width: 100px;
            }
          }
      }
  }
  .invisible {
      display: none;
  }
  .visible {
      display: block;
  }
}

.active {
  border: 2px solid #e5c100;
} 