.heading {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    @mixin atSmall { 
        font-size: 52px; 
    }
}
.heading--main {
    font-size: 30px;
    margin: 1em 0;
    @mixin atSmall { 
        font-size: 72px; 
        margin: 0.4em 0;
        letter-spacing: 3px;
    }
}

.heading--smaller {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    @mixin atSmall { 
        font-size: 32px; 
    }  
}
.heading--medium {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-weight: 100;
    line-height: 30px;
    @mixin atSmall { 
        font-size: 18px; 
    }
}