.hero-slider {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
    &__interior {
      padding-top: 30px;
      padding-bottom: 30px;
  
      @mixin atMedium {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  
    &__slide {
      text-align: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 1%;
        padding-bottom: 30px;
    }
  
    &__description {
      color: #000;
      list-style: none;
    }
  
    &__overlay {
      margin: 0 auto;
      background-color: rgba(255, 255, 255, .68);
      padding: 40px;
      color: #000;
      text-align: center;
      @mixin atMedium {
        width: 100%;
        padding: 80px;
      }
    }

    &--img {
      width: 20px;
      height: auto;
      margin-left: 10px;
    }

  .hero-slider__box {
      list-style: none;
      padding: 30px;
      margin: 0;
      cursor: pointer;
      margin-right:20px;
      &--green {
        background-color: rgba(191, 202, 68, 0.1);
      } 
      &--blue {
        background-color: rgba(60, 142, 207, 0.1);
      }
      &--pink {
        background-color: rgba(46, 139, 87, 0.1);
      }

      &--min {
        font-size: 50px;
        font-weight: 800;
        color: transparent;
        line-height: .8;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
        @mixin atMedium { 
            font-size: 80px;
        }
      }
      &--description {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 4.5px;
        color: #000;
        display: inline-block;
        @mixin atMedium { 
            font-size: 14px;
        }
      }
  }
  .hero-slider__description {
    color: #000;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    }
}

.glide {

  &__arrow {
    width: 2.875rem;
    height: 2.875rem;
    position: absolute;
    left: auto;
    right: auto;
    border-radius: 50%;
    border-color: #000;
    color: #e5c100;
    z-index: 2;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);


    &:focus {
			outline: none;
    }
    &--left {
      position:relative;
      left: 0px;
      @mixin atSmall { 
        left: -15px;
      }
    }
    &--right {
      position: absolute;
      right: 0px;
      @mixin atSmall { 
        right: -15px;
      }
		}
  }
}
.glide__arrows {
  position:relative;
  right: 0;
  bottom: -6rem;
  @mixin atSmall { 
    bottom: -7rem;
  }
 }
