.localization {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fafafa;
    overflow:hidden;
    &__content {
        font-family: 'Open Sans', sans-serif;
        &--title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 4.5px;
            position: relative;
            @mixin atMedium {
                padding-bottom: 10px;
                line-height: 18px;
            }
            &:after {
                position: absolute;
                content:"";
                width: 50px;
                height: 1px;
                background-color: #e5c100;
                top: 50%;
                left: 43%;
                @mixin atMedium {
                    top: 25%;
                    left: 31%;
                    width: 70px;
                }
                @mixin atLong { 
                    top: 25%;
                    left: 23%;
                    width: 70px;
                }
            }
        }
        &--subtitle {
            font-size: 25px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 1px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @mixin atMedium {
                font-size: 40px;
                line-height: 44px;
                padding-bottom: 30px;
            }
        }
        &--description {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: #7e7d7d;
        }
    }
    
        &__col-one {
            @mixin atMedium { 
                padding-left: 50%;
            }
        }
        &__col-two {
            @mixin atMedium {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 100px;
                float: left;
                padding-top: 30px;

                .btn-place {
                    transform: translate(20%,20px);
                    @mixin atLong { 
                      transform: translate(75%,20px);
                    }
                }
            }
        }
        .btn-mobile {
            @mixin atXSmall { 
                display:flex;
                justify-content: center;
            }
        }

    &__case-number {
        font-size: 170px;
        font-weight: 800;
        color: transparent;
        line-height: .8;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #e5c100;
        @mixin atMedium { 
            font-size: 270px;
        }
    }
    &__case-description {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 4.5px;
        color: #000;
        transform: translate(0%,-30px);
        display: inline-block;
        @mixin atMedium { 
            font-size: 14px;
            transform: translate(60%,-30px);
        }
    }
}