.main-navigation {
    padding-top: 2px;
  
    ul {
      padding: 0;
      margin: 0;
    }
  
    ul:before,
    ul:after {
      content: " ";
      display: table;
    }
  
    ul:after {
      clear: both;
    }
  
    @mixin atMedium {
      float: left;
      margin-right: 20px;
    }
}
  
.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  font-family: 'Roboto', sans-serif;
  display: block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 2px;
  color: $white;
  text-decoration: none;
  @mixin atMedium {
    display: inline-block;
    padding: 20px 10px;
  }
}