.page-banner {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &__overlay {
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
        top:0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &--title {
        color: $white;
    }
    &--subtitle {
      color: $white;
    }

    &--button-place {
        display: flex;
        justify-content: center;
        padding-top: 70px;
        @mixin atXSmall {  
            padding-top: 40px;  
        }
    }
}