.site-header {
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    position: absolute;
    @mixin atMedium { 
      position: fixed;
      padding: 20px 10px;
    }
    @mixin atLong { 
      padding: 20px 100px;
    }
  
    &__menu {
      visibility: hidden;
      position: absolute;
      background-color: $black;
      left: 0;
      right: 0;
      top: -20px;
      padding-top: 58px;
      opacity: 0;
      transform: translateY(-20%);
      transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
      padding-bottom: 20px;
      z-index: 0;
  
      &--active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        padding-top: 80px;
      }
  
      @mixin atMedium {
        visibility: visible;
        opacity: 1;
        /* transform: translateY(0) scale(1); */
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }  
    }
  
    &__menu-trigger {
      color: $white;
      cursor: pointer;
      font-size: 1.2rem;
      position: absolute;
      z-index: 10;
      top: 10px;
      right: 46px;
  
      @mixin atSmall {
        top: 5px;
        font-size: 1.4rem;
      }
  
      @mixin atMedium {
        display: none;
      }
    }
  }  
    header .logo {
      font-family:'Lato', serif;
      position: relative;
      transition: .6s;
      z-index: 1;
      color: $white;
      font-weight: 400;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 0px;
      
    }
    
    .img-logo {
      width: 25px;
      height: 25px;
      margin-right:10px;
      position: relative;
      top: 5px;
      z-index: 1;
 
    }
    header ul li a {
      padding: 0 15px;
      font-size: 12px;
      transition: 0.5s;
    } 

  @mixin atMedium {
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      transition: 0.6s;
      padding: 40px 100px; 
      height: 70px;
    }
    header .logo {
      position: relative;
      text-decoration: none;
      font-size: 20px;
      transition: .6s;
    }
    header ul {
      display: flex;
      postion: relative;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    header ul li a {
      padding: 0 15px;
      color: $white;
      text-decoration: none;
      position: relative;
      letter-spacing: 2px;
      transition: 0.5s;
    }
    header.sticky {
      background: $white;
      padding: 20px 10px 20px 10px;
      height: 70px;
    }
    header.sticky ul li a {
      color: $black;
      &.active {
      }     
    }
    header.sticky .logo {
      color: $black;
    }

    section p {
      color: $white;
    } 
  }
  @mixin atLong { 
    header.sticky {
      padding: 20px 100px 20px 100px;
    }
  }