.site-footer {
    padding: 3.5rem 0 0rem 0;
    background-color: $black;
    @mixin atSmall { 
      padding: 6rem 0 0 0;
    }

    p {
      margin: 0px;
      padding: 10px;
    }

    &__inner {
      border-bottom: 1px solid #646464;
      padding-bottom: 2rem;
    }
  
    .headline {
      color: $white;
      margin-bottom: .33rem;
    }
  
    &__link {
      font-size: 14px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
    }
  
    &__link:hover {
      color: $white;
      opacity: 0.8;
      text-decoration: underline;
    }
  
    &__col-one {
      text-align: center;
      width: 100%;
      @mixin atMedium {
        text-align: left;
        width: 30%;
        float: left;
        padding-top: 50px;
      }
    }
  
    &__col-two {
      font-size: 12px;
      display: block;
      padding-bottom: 3px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-weight: 100;
      letter-spacing: 2px;
      width: 100%;
      padding-top: 30px;
      text-align: center;
    
     @mixin atMedium {
        width: 20%;
        float: left;
        text-align: left;
        padding-top: 0px;
        text-align: left;
      }
    }
  
    &__col-three {
      font-size: 12px;
      display: block;
      padding-bottom: 3px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-weight: 100;
      letter-spacing: 2px;
      width: 100%;
      text-align: center;
  
      @mixin atMedium {
        padding-bottom: 30px;
      }
    
     @mixin atMedium {
      width: 25%;
      float: left;
     }
     ul {
       padding:0;
     }
    }
    &__col-four {
      color: hsla(0,0%,100%,.7);
      width: 100%;
      text-align: center;
      letter-spacing: 2px;
      
      @mixin atMedium {
        padding-bottom: 30px;
      } 
  
      ul {
        padding:0;
      }
    } 
    .footer-navigation li{
      list-style: none;
    }
    .footer-navigation a {
      font-size: 12px;
      display: block;
      padding-bottom: 3px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-weight: 100;
      letter-spacing: 2px;
  
    }
    .footer-navigation a:hover {
      color: $white;
      opacity: 0.8;
      text-decoration: underline;
    }

    &--title {
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 0px;
      color: $white;
      margin: 20px 0px;
      @mixin atSmall {
        font-size: 1.2rem;
        padding-bottom: 20px;
        margin: 0;
      }
    }
    
  }
  
  #cookie-notice .cn-button {
    background-color: $black;
    color: $white;
    text-decoration: none;
    padding: 3px 10px;
  }

  .logo--footer {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    transition: .6s;
    margin-bottom: 20px;
    font-family:'Lato', serif;
    position: relative;
    transition: .6s;
    font-weight: 400;
    letter-spacing: 0px;

    @mixin atSmall {
      padding-bottom: 0px;
      }    
  }

  .site-footer__under__inner {
    display: flex;
    color: hsla(0,0%,100%,.7);
    align-items: center;
    justify-content: center;
    height: 100px;

    p {
      margin: 0;
      cursor: pointer;
    }
    
    &__col-one {
      width: 43%;
      text-transform: uppercase;
      .privacy-policy {
        font-size: 8px;
        @mixin atSmall {
          font-size: 12px;
        }
      }
      @mixin atSmall {
        width: 33%;
      }
    }
    &__col-two {
      width: 13%;
      text-align: center;
      .fa {
        color: #fff;
      }
      @mixin atSmall {
        width: 33%;
      }
    }
    &__col-three {
      font-size: 8px;
      width: 43%;
      text-align: right;
      @mixin atSmall {
        width: 33%;
        font-size: 12px;
      }
      a {
        text-decoration: none;
        color: #e5c100;
      }
    }
  }